<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Interactive Cityscape</title>
		
		<!--
		<link href="css/main.css" rel="stylesheet"></link>
		<script src="js/jquery.js"></script>
		<script src="js/main.js"></script>
		-->
	</head>
	<body>
		<div id="container">
			<div id="screen1" class="screen">
				<a id="link1" href="#"><img src="images/sil1.jpg"id="smallScreen1"/></a>
			</div>
			<div id="screen2" class="screen">
				<a id="link2" href="#"><img src="images/sil2.jpg" id="smallScreen2"/></a>
			</div>
			<div id="screen3" class="screen">
				<a id="link3" href="#"><img src="images/sil3.jpg" id="smallScreen3"/></a>
			</div>
			<div id="screen4" class="screen">
				<a id="link4" href="#"><img src="images/sil4.jpg" id="smallScreen4"/></a>
			</div>
			<div id="screen5" class="screen">
				<a id="link5" href="#"><img src="images/sil5.jpg" id="smallScreen5"/></a>
			</div>
			<div id="screen6" class="screen">
				<a id="link6" href="#"><img src="images/sil6.jpg" id="smallScreen6"/></a>
			</div>
			<div id="screen7" class="screen">
				<a id="link7" href="#"><img src="images/sil7.jpg" id="smallScreen7"/></a>
			</div>
			<div id="screen8" class="screen">
				<a id="link8" href="#"><img src="images/sil8.jpg" id="smallScreen8"/></a>
			</div>
			<div id="screen9" class="screen">
				<a id="link9" href="#"><img src="images/sil9.jpg" id="smallScreen9"/></a>
			</div>
			<div id="screen10" class="screen">
				<a id="link10" href="#"><img src="images/sil10.jpg" id="smallScreen10"/></a>
			</div>
			<div id="screen11" class="screen">
				<a id="link11" href="#"><img src="images/sil11.jpg" id="smallScreen11"/></a>
			</div>
			<div id="screen13" class="screen">
				<a id="link13" href="#"><img src="images/sil13.jpg" id="smallScreen13"/></a>
			</div>
			<div id="screen14" class="screen">
				<a id="link14" href="#"><img src="images/sil14.jpg" id="smallScreen14"/></a>
			</div>
			<div id="screen15" class="screen">
				<a id="link15" href="#"><img src="images/sil15.jpg" id="smallScreen15"/></a>
			</div>
			<div id="screen16" class="screen">
				<a id="link16" href="#"><img src="images/sil16.jpg" id="smallScreen16"/></a>
			</div>
			<div id="screen17" class="screen">
				<a id="link17" href="#"><img src="images/sil17.jpg" id="smallScreen17"/></a>
			</div> 
			<div id="screen18" class="screen">
				<a id="link18" href="#"><img src="images/sil18.jpg" id="smallScreen18"/></a>
			</div>
			<div id="screen19" class="screen">
				<a id="link19" href="#"><img src="images/sil19.jpg" id="smallScreen19"/></a>
			</div>
			<div id="screen20" class="screen">
				<a id="link20" href="#"><img src="images/sil20.jpg" id="smallScreen20"/></a>
			</div>
			<div id="screen21" class="screen">
				<a id="link21" href="#"><img src="images/sil21.jpg"id="smallScreen21"/></a>
			</div>
			<div id="screen22" class="screen">
				<a id="link22" href="#"><img src="images/sil22.jpg" id="smallScreen22"/></a>
			</div>
			<div id="screen23" class="screen">
				<a id="link23" href="#"><img src="images/sil23.jpg" id="smallScreen23"/></a>
			</div>
			<div id="screen24" class="screen">
				<a id="link24" href="#"><img src="images/sil24.jpg" id="smallScreen24"/></a>
			</div>
			<div id="screen25" class="screen">
				<a id="link25" href="#"><img src="images/sil25.jpg" id="smallScreen25"/></a>
			</div>
		</div>
		
		<div id="colorPanel" class="adjustments">
			<div id="B1" class="sliderButton"></div>
			<div id="B2" class="sliderButton"></div>
			<div id="B3" class="blueSlider"></div>
			<div id="B4" class="sliderButton"></div>
			<div id="B5" class="sliderButton"></div>
			
			<div id="G1" class="sliderButton"></div>
			<div id="G2" class="sliderButton"></div>
			<div id="G3" class="greenSlider"></div>
			<div id="G4" class="sliderButton"></div>
			<div id="G5" class="sliderButton"></div>
			
			<!--<div id="R1" class="sliderButton"></div>-->
			<div id="R2" class="sliderButton"></div>
			<div id="R3" class="redSlider"></div>
			<div id="R4" class="sliderButton"></div>
			<!--<div id="R5" class="sliderButton"></div>-->
		</div>
		<div id="picturePanel" class="picturePanel"></div>
		<div id="lightbox"></div>
	</body>
</html>